#submitCake {
  width: 30%;
  display: inline-block;
  vertical-align: top;
}

#border {
  border: black solid 1px;
}

img {
  width: 150px;
  display: inline-block;
  vertical-align: top;
}

.rateCake{
  display: inline-block;
  vertical-align: top;
}

#cakes {
  width: 50%;
  height: 283px;
  display: inline-block;
  vertical-align: top;
  margin: 77px 0px 0px 64px;
  border: black 1px dotted;
}
